 @model IEnumerable<Active_Directory.Models.Alumno>;

  <section id="hero2" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Registro de interacciones</h1>
    </div>
  </section>
  <br>

  <br>

<div class="container">

    <table class="table" >
      <thead>
        <tr style="background-color: #910222;">
          <th style="color: white;" scope="col">Código Estudiante</th>
          <th style="color: white;" scope="col">Nombres</th>
          <th style="color: white;" scope="col">Apellidos</th>
          <th style="color: white;" scope="col">Hora de testeo</th>
          <th style="color: white;" scope="col">Varilla 1</th>
          <th style="color: white;" scope="col">Varilla 2</th>
        </tr>
      </thead>
      <tbody>
        @foreach (Alumno alu in @Model)
        {
          <tr>
            <th scope="row">@alu.ID</th>
            <td>@alu.Nombres</td>
            <td>@alu.Apellidos</td>
            <td>@alu.Hora</td>
            <td>@alu.Var1</td>
            <td>@alu.Var2</td>
          </tr>
        }
      </tbody>
    </table>
</div>